.parent {
  padding: 2.5rem 0rem 0 0rem;
  height: 100%;
}
.welcome_user {
  padding: 2rem 1rem;
}
.welcome {
  font-size: 28px;
  line-height: 40px;
  color: #62526D;
}
.user {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #62526D;
}
.tabs {
  background: #FFFFFF;
  box-shadow: 0px -12px 20px rgba(98, 82, 109, 0.2);
  border-radius: 32px;
  padding: 2.5rem 1rem;
  height: 80%;
  overflow: auto;
}
.what {
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  color: rgba(98, 82, 109, 0.85);
}
.item {
  margin-top: 1.5rem;
  padding: 2.5rem 1rem 1rem 1rem;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 8px;
}
